<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/index.css" />
    <title>Document</title>
  </head>
  <body>
    <%- include('partials/navbar') %> <%- include('partials/sidebar') %>
    <main>
      <h1>Category List</h1>
      <% if (!categories.length) { %>
      <h1>No categories yet</h1>
      <% } %> <% if (categories) { %> <% categories.forEach(category => { %>
      <div>
        <img
          src="<%= category.imgurl %> "
          alt="<%= category.slug %> "
          height="300"
          width="300"
        />
        <h3><%= category.title %></h3>
        <a href="/admin/dashboard/category/<%= category.slug %> ">details</a>
      </div>
      <% }) %> <% } %>
    </main>
    <script src="/sidebar.js"></script>
  </body>
</html>
