<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/index.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="wrapper">
      <%- include('partials/navbar') %> <%- include('partials/sidebar') %>
      <main class="category-main">
        <h1>Category List</h1>
        <% if (!categories.length) { %>
        <h1>No categories yet</h1>
        <% } %>
        <div class="grid-container">
          <% categories.forEach(category => { %>
          <div class="category-card">
            <div class="category-image">
              <img src="<%= category.imgurl %> " alt="<%= category.slug %> " />
            </div>

            <div class="category-info">
              <h3><%= category.title %></h3>
              <a
                class="btn-secondary text-center"
                style="max-width: 100%"
                href="/admin/dashboard/category/<%= category.slug %> "
                >details</a
              >
            </div>
          </div>
          <% }) %>
        </div>
      </main>
    </div>
    <script src="/sidebar.js"></script>
  </body>
</html>
