<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/index.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="wrapper">
      <%- include('partials/navbar') %> <%- include('partials/sidebar') %>
      <main class="category-details">
        <% if (category) { %>
        <div class="category-details-card">
          <div class="category-image">
            <img src="<%= category.imgurl %> " alt="<%= category.slug %> " />
          </div>
          <div class="category-info">
            <h2><%= category.title %></h2>

            <p>added by: <%= category.username %></p>
            <div class="category-categories">
              <a class="btn-edit" href="<%= category.slug %>/update ">Edit</a>
              <form action="<%= category.slug %>/delete" method="POST">
                <button class="btn-delete" type="submit">delete</button>
              </form>
            </div>
          </div>
        </div>

        <h2>ProductList:</h2>
        <% } %>
        <section>
          <% if (products.length) { %>
          <div class="grid-container">
            <% products.forEach(product => { %>
            <div class="grid-card">
              <div class="grid-overlay"></div>
              <img src="<%= product.imageurl %> " alt="<%= product.title %> " />
              <a
                href="/admin/dashboard/product/<%= product.slug %>"
                class="product-title"
                ><%= product.title%>
              </a>
            </div>
            <% }) %>
          </div>
          <% } else { %>
          <div class="no-content">
            <h2>There are no products in this category currently.</h2>
          </div>
          <% } %>
        </section>
      </main>
    </div>
    <script src="/sidebar.js"></script>
  </body>
</html>
