<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/index.css" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <% if (category) { %>
      <p><%= category.title %></p>
      <p><%= category.slug %></p>
      <img
        src="<%= category.imgurl %> "
        alt="<%= category.slug %> "
        height="200"
        width="200"
      />
      <a href="<%= category.slug %>/update ">Edit</a>
      <p>added by: <%= category.username %></p>
      <form action="<%= category.slug %>/delete" method="POST">
        <button type="submit">delete</button>
      </form>
      <h2>ProductList:</h2>
      <% products.forEach(product => { %>
      <h3><%= product.title %></h3>
      <% }) %> <% } %>
    </main>
  </body>
</html>
