<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/index.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="wrapper">
      <%- include("partials/navbar") %> <%- include('partials/sidebar') %>
      <main class="dashboard">
        <div class="grid-container">
          <div class="dash-card">
            <h2>Users</h2>
            <p><%= users.count %></p>
            <a href="/admin/dashboard/">view more</a>
          </div>
          <div class="dash-card">
            <h2>Products</h2>
            <p><%= products.count %></p>
            <a href="/admin/dashboard/product">view more</a>
          </div>
          <div class="dash-card">
            <h2>Categories</h2>
            <p><%= categories.count %></p>
            <a href="/admin/dashboard/category">view more</a>
          </div>
        </div>
      </main>
    </div>
    <script src="/sidebar.js"></script>
  </body>
</html>
