<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/index.css" />
    <title>Document</title>
  </head>
  <body>
    <%- include('partials/sidebar') %>
    <div class="wrapper">
      <%- include("partials/navbar") %>
      <main class="flex w-100 min-h-90 gap-2 padding-2 flex-1 md-flex-col">
        <section class="flex flex-col w-80 min-h-100 gap-2 md-w-100">
          <div
            class="flex flex-col flex-1 items-center content-center padding-2 gap-2 bg-2 border-r-1-2"
          >
            <h2 class="w-80 margin-0-auto self-start md-w-100">General info</h2>
            <div class="grid-container-default grid-cols-3 min-h-40 md-w-100">
              <div class="dash-card">
                <h2>Users</h2>
                <p class="font-s-5 font-w-9 text-right"><%= users.count %></p>
                <a href="/admin/dashboard/users">view more</a>
              </div>
              <div class="dash-card">
                <h2>Products</h2>
                <p class="font-s-5 font-w-9 text-right"><%= products.count %></p>
                <a href="/admin/dashboard/product">view more</a>
              </div>
              <div class="dash-card">
                <h2>Categories</h2>
                <p class="font-s-5 font-w-9 text-right"><%= categories.count %></p>
                <a href="/admin/dashboard/category">view more</a>
              </div>
            </div>
          </div>
          <div
            class="flex flex-col flex-1 items-center content-center padding-2 gap-2 bg-2 border-r-1-2"
          >
            <h2 class="w-80 margin-0-auto self-start md-w-100">Product info</h2>
            <div class="grid-container-default grid-cols-3 min-h-40 md-w-100">
              <div class="dash-card">
                <h2>Low on stock</h2>
                <p class="font-s-5 font-w-9 text-right"><%= lowStock %></p>
                <a href="/admin/dashboard/product/low-stock">view more</a>
              </div>
              <div class="dash-card">
                <h2>Overstock</h2>
                <p class="font-s-5 font-w-9 text-right"><%= highStock %></p>
                <a href="/admin/dashboard/product/high-stock">view more</a>
              </div>
              <div class="dash-card">
                <h2>Out of stock</h2>
                <p class="font-s-5 font-w-9 text-right"><%= outOfStock %></p>
                <a href="/admin/dashboard/product/out-of-stock">view more</a>
              </div>
            </div>
          </div>
        </section>
        <aside
          class="flex flex-col padding-2 w-20 gap-2 bg-2 border-r-1-2 md-flex-row sm-flex-col md-w-100"
        >
          <ul class="flex flex-col flex-1 gap-2">
            <h3>Latest products</h3>
            <% latestProducts.forEach(product => { %>
            <li>
              <a href="/admin/dashboard/product/<%= product.slug %>"><%= product.title %></a>
            </li>
            <% }) %>
          </ul>
          <ul class="flex flex-col flex-1 gap-2">
            <h3>Latest categories</h3>
            <% latestCategories.forEach(category => { %>
            <li>
              <a href="/admin/dashboard/category/<%= category.slug %>"><%= category.title %></a>
            </li>
            <% }) %>
          </ul>
        </aside>
      </main>
    </div>
    <script src="/sidebar.js"></script>
  </body>
</html>
