<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/index.css" />
    <title>Document</title>
  </head>

  <body>
    <div class="wrapper">
      <%- include('partials/navbar') %> <%- include('partials/sidebar') %>
      <main class="form-container">
        <h2>Edit product</h2>
        <form
          class="form"
          action="/admin/dashboard/product/<%= product.slug%>/update"
          method="post"
          enctype="multipart/form-data"
        >
          <div class="form-group">
            <label for="title">Title</label>
            <input
              type="text"
              id="title"
              name="title"
              value="<%= product.title %>"
            />
          </div>
          <div class="form-group-textarea">
            <label for="description">Description</label>
            <textarea name="description" id="description">
<%= product.description %></textarea
            >
          </div>
          <div class="form-group">
            <label for="slug">Slug</label>
            <input
              type="text"
              id="slug"
              name="slug"
              value="<%= product.slug %>"
            />
          </div>
          <div class="form-group">
            <label for="stock">Stock</label>
            <input
              type="number"
              id="stock"
              name="stock"
              value="<%= product.stock %>"
            />
          </div>
          <div class="form-group">
            <label for="price">Price</label>
            <input
              type="number"
              id="price"
              name="price"
              step="0.01"
              value="<%= product.price %>"
            />
          </div>
          <div class="form-group">
            <label for="image" class="photo-icon"
              ><img src="/assets/photo.svg" alt="photo icon"
            /></label>
            <input type="file" id="image" name="image" accept="image/*" />
            <input
              type="hidden"
              name="currentImage"
              value="<%= product.imageurl %>"
            />
          </div>

          <div class="form-group">
            <label for="categories">Select Categories:</label>

            <div class="form-group-checkbox">
              <% categories.forEach(category=> { %>
              <div>
                <input type="checkbox" name="categories" id="<%= category.title
                %>" value="<%= category.id %>" <% if
                (product.categories.some(cat=> cat.slug === category.slug)) { %>
                checked <% } %>/>
                <label for="<%= category.title %>">
                  <%= category.title %>
                </label>
              </div>
              <% }) %>
            </div>
          </div>

          <button class="btn-primary" type="submit">Save changes</button>
        </form>
      </main>
    </div>

    <script src="/main.js"></script>
    <script src="/sidebar.js"></script>
  </body>
</html>
