<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/index.css" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <h2>product update form</h2>
      <form
        action="/admin/dashboard/product/<%= product.slug%>/update"
        method="post"
        enctype="multipart/form-data"
        style="
          display: flex;
          flex-direction: column;
          width: 50%;
          margin: 0 auto;
        "
      >
        <label for="title">Title</label>
        <input
          type="text"
          id="title"
          name="title"
          value="<%= product.title %>"
        />

        <label for="description">Description</label>
        <textarea name="description" id="description">
<%= product.description %></textarea
        >

        <label for="slug">Slug</label>
        <input type="text" id="slug" name="slug" value="<%= product.slug %>" />

        <label for="stock">Stock</label>
        <input
          type="number"
          id="stock"
          name="stock"
          value="<%= product.stock %>"
        />

        <label for="price">Price</label>
        <input
          type="number"
          id="price"
          name="price"
          step="0.01"
          value="<%= product.price %>"
        />

        <label for="imageurl">Image</label>
        <input type="file" id="image" name="image" accept="image/*" />
        <input
          type="hidden"
          name="currentImage"
          value="<%= product.imageurl %>"
        />
        <label for="categories">Select Categories:</label>
        <% categories.forEach(category => { %>
        <div>
          <input type="checkbox" name="categories" id="<%= category.title %>"
          value="<%= category.id %>" <% if (product.categories.some(cat =>
          cat.slug === category.slug)) { %> checked <% } %>/>
          <label for="<%= category.title %>"><%= category.title %></label>
        </div>
        <% }) %>

        <button type="submit">Save changes</button>
      </form>
    </main>
    <script src="/main.js"></script>
  </body>
</html>
