<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/index.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="wrapper">
      <%- include('partials/navbar') %> <%- include('partials/sidebar') %>
      <main class="product-details" style="background: #020617">
        <div class="product-details-card" style="background: #0f172a">
          <div class="product-details-image">
            <div class="overlay"></div>
            <img src="<%= product.imageurl %> " alt="<%= product.title %> " />
          </div>
          <div class="product-info">
            <h2><%= product.title %></h2>
            <p><%= product.description %></p>
            <div class="product-info-group">
              <p>$ <%= product.price %></p>
              <p>In stock:<%= product.stock %></p>
            </div>
            <div class="product-categories">
              <% product.categories.forEach(category => { %>
              <a
                class="category-link"
                href="/admin/dashboard/category/<%= category.slug %> "
              >
                <%= category.title %>
              </a>
              <% }) %>
            </div>
            <div class="product-categories">
              <a
                class="btn-edit"
                href="/admin/dashboard/product/<%= product.slug %>/update"
                >Edit</a
              >
              <form action="<%= product.slug %>/delete" method="POST">
                <button class="btn-delete" type="submit">delete</button>
              </form>
            </div>
          </div>
        </div>
      </main>
    </div>
    <script src="/sidebar.js"></script>
  </body>
</html>
