<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/index.css" />
    <title>Products</title>
  </head>
  <body>
    <div class="wrapper">
      <%- include('partials/navbar') %> <%- include('partials/sidebar') %>
      <div
        class="flex flex-col flex-1 items-center w-100 margin-0-auto padding-2 gap-2"
      >
        <h1>Product List</h1>

        <div class="grid-container-default grid-cols-3">
          <% products.forEach(product => { %>
          <div class="product-details-card">
            <div class="product-details-image">
              <div class="overlay"></div>
              <img
                style="flex: 2"
                src="<%= product.imageurl %>"
                alt="<%= product.title %>"
              />
            </div>
            <div class="flex flex-col flex-1 gap-1">
              <h2><%= product.title %></h2>

              <ul class="flex gap-1">
                <% product.categories.forEach(category => { %>

                <li>
                  <a
                    class="category-link"
                    href="/admin/dashboard/category/<%= category.slug %>"
                    ><%= category.title %></a
                  >
                </li>
                <% }) %>
              </ul>
              <a
                class="btn-secondary"
                href="/admin/dashboard/product/<%= product.slug %>"
                >Details</a
              >
            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </div>
    <script src="/sidebar.js"></script>
  </body>
</html>
