<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/index.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="wrapper">
      <%- include('partials/navbar') %> <%- include('partials/sidebar') %>
      <main
        class="flex flex-1 padding-1 content-center items-center bg-1 gap-2"
      >
        <div
          class="product-details-card bg-3 lg-flex-col lg-w-50 md-flex-col md-w-80 sm-w-100 sm-bg-none"
        >
          <div class="product-details-image">
            <div class="overlay"></div>
            <img src="<%= product.imageurl %> " alt="<%= product.title %> " />
          </div>
          <div class="flex flex-col flex-1 gap-1">
            <h2><%= product.title %></h2>
            <p><%= product.description %></p>
            <div class="flex content-between">
              <p>$ <%= product.price %></p>
              <p>In stock: <%= product.stock %> pcs</p>
            </div>
            <div class="flex gap-1">
              <% product.categories.forEach(category => { %>
              <a
                class="category-link"
                href="/admin/dashboard/category/<%= category.slug %> "
              >
                <%= category.title %>
              </a>
              <% }) %>
            </div>
            <div class="flex gap-1">
              <a
                class="btn-edit"
                href="/admin/dashboard/product/<%= product.slug %>/update"
                >Edit</a
              >
              <% if (locals.user.admin) { %>
              <form action="<%= product.slug %>/delete" method="POST">
                <button class="btn-delete" type="submit">delete</button>
              </form>
              <% } %>
            </div>
          </div>
        </div>
      </main>
    </div>
    <script src="/sidebar.js"></script>
  </body>
</html>
