<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/index.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="wrapper">
      <%- include('partials/navbar') %> <%- include('partials/sidebar') %>
      <main class="form-container sm-p-1">
        <h2>Create product</h2>
        <form
          class="form md-w-80 sm-w-80"
          action="/admin/dashboard/product/create"
          method="post"
          enctype="multipart/form-data"
        >
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" id="title" name="title" value="<%= typeof title!==
            "undefined"?title:''%> " />
          </div>
          <div class="form-group-textarea">
            <label for="description">Description</label>
            <textarea name="description" id="description">
<%= typeof description!=="undefined"?description:''%></textarea
            >
          </div>
          <div class="form-group">
            <label for="slug">Slug</label>
            <input type="text" id="slug" name="slug" value="<%= typeof slug!==
            "undefined"?slug:''%>" />
          </div>
          <div class="flex items-center content-between gap-2">
            <div class="form-group w-100">
              <label for="stock">Stock</label>
              <input type="number" id="stock" name="stock" class="w-100" value="<%= typeof stock!==
              "undefined"?stock:''%>" />
            </div>
            <div class="form-group w-100">
              <label for="price">Price</label>
              <input type="number" id="price" name="price" step="0.01" class="w-100" value="<%=
              typeof price!== "undefined"?price:''%>" />
            </div>
          </div>
          <div class="form-group">
            <label for="image" class="photo-icon"
              ><img src="/assets/photo.svg" alt="photo icon"
            /></label>
            <input type="file" id="image" name="image" accept="image/*" />
          </div>
          <div class="form-group">
            <label for="categories">Select Categories:</label>
            <div class="form-group-checkbox">
              <% categories.forEach(category => { %>
              <div>
                <input type="checkbox" name="categories" id="<%= category.title %>" value="<%=
                category.id %>" <%= typeof catArr !== 'undefined' ? catArr.some(c => c ===
                category.id) ? 'checked' : '' :''%> />
                <label for="<%= category.title %>"><%= category.title %></label>
              </div>
              <% }) %>
            </div>
          </div>
          <button class="btn-primary" type="submit">Save</button>
          <% if (locals.errors) {%>
          <ul class="error-summary flex flex-col">
            <% errors.forEach(function(error) { %>
            <li class="error-msg"><%= error.msg %></li>
            <% }); %>
          </ul>
          <% } %>
        </form>
      </main>
    </div>

    <script src="/main.js"></script>
    <script src="/sidebar.js"></script>
  </body>
</html>
