<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/index.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="wrapper">
      <%- include('partials/nav') %>
      <header class="about-header">
        <h2><%= category.title %></h2>
      </header>
      <section>
        <% if (products.length) { %>
        <div class="grid-container">
          <% products.forEach(product => { %>
          <div class="grid-card">
            <div class="grid-overlay"></div>
            <img src="<%= product.imageurl %> " alt="<%= product.title %> " />
            <a href="/products/<%= product.slug %>" class="product-title"
              ><%= product.title%></a
            >
          </div>
          <% }) %>
        </div>
        <% } else { %>
        <div class="no-content">
          <h2>There are no products in this category currently.</h2>
        </div>
        <% } %>
      </section>
      <%- include('partials/footer') %>
    </div>
    <script src="/navbar.js"></script>
  </body>
</html>
