<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/index.css" />
    <title>Document</title>
  </head>
  <body>
    <%- include('partials/nav') %>
    <main class="banner">
      <div class="container">
        <div class="banner-content">
          <h1>Welcome to InventoryApp</h1>
          <p>Easily and securely manage your inventory</p>
          <button>Learn more</button>
        </div>
        <div class="banner-image">
          <img src="/assets/banner.svg" alt="" />
        </div>
      </div>
    </main>
    <section class="products-section">
      <h2 id="products">Latest products</h2>
      <div class="grid-container">
        <% if (products) { %> <% products.forEach(product => { %>
        <div class="grid-card">
          <div class="grid-overlay"></div>
          <img src="<%= product.imageurl %> " alt="<%= product.title %> " />
          <p class="category-title"><%= product.title%></p>
        </div>
        <% }) %> <% } %>
      </div>
    </section>

    <section class="category-section">
      <h2 id="category">Latest categories</h2>
      <div class="grid-container">
        <% if (categories) { %> <% categories.forEach(category => { %>
        <div class="grid-card">
          <div class="grid-overlay"></div>
          <img src="<%= category.imgurl %> " alt="<%= category.title %> " />
          <p class="category-title"><%= category.title%></p>
        </div>
        <% }) %> <% } %>
      </div>
      <button style="width: 150px; align-self: center; padding: 10px">
        Learn more
      </button>
    </section>
    <section class="about-section">
      <h2>About inventory</h2>
      <div class="container">
        <div class="about-img">
          <img src="/assets/about.svg" alt="" />
        </div>
        <div class="about-content">
          <h3>This project is done as part of Odin Project curriculum.</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem sunt
            tenetur id eaque mollitia eius, ipsam odio, error corporis aperiam
            consectetur possimus, et quae nemo sint dicta. Rerum, explicabo
            quia!
          </p>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem sunt
            tenetur id eaque mollitia eius, ipsam odio, error corporis aperiam
            consectetur possimus, et quae nemo sint dicta. Rerum, explicabo
            quia!
          </p>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem sunt
            tenetur id eaque mollitia eius, ipsam odio, error corporis aperiam
            consectetur possimus, et quae nemo sint dicta. Rerum, explicabo
            quia!
          </p>
        </div>
      </div>
    </section>
    <script src="/navbar.js"></script>
  </body>
</html>
