<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/index.css" />
    <title>Inventory - <%= product.title %></title>
  </head>
  <body>
    <div class="wrapper">
      <%- include('partials/nav') %>
      <main
        class="flex flex-1 items-center content-center bg-gradient-1 gap-2 md-pt-5 sm-bg-none"
      >
        <div
          class="product-details-card lg-w-80 md-w-80 md-flex-col sm-flex-col sm-w-100"
        >
          <div class="product-details-image">
            <div class="overlay"></div>
            <img src="<%= product.imageurl %> " alt="<%= product.title %> " />
          </div>
          <div class="flex flex-col flex-1 gap-1">
            <h2><%= product.title %></h2>
            <p><%= product.description %></p>
            <div class="flex content-between">
              <p>$ <%= product.price %></p>
              <p>In stock:<%= product.stock %></p>
            </div>
            <div class="flex gap-1">
              <% product.categories.forEach(category => { %>
              <a class="category-link" href="/categories/<%= category.slug %> ">
                <%= category.title %>
              </a>
              <% }) %>
            </div>
            <a
              class="btn-edit"
              href="/admin/dashboard/product/<%= product.slug %>/update"
              >Edit</a
            >
          </div>
        </div>
      </main>
      <%- include('partials/footer') %>
    </div>
    <script src="/navbar.js"></script>
  </body>
</html>
