<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/index.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="wrapper">
      <%- include('partials/nav') %>
      <header class="about-header">
        <h2>Products</h2>
      </header>
      <section>
        <div class="grid-container">
          <% if (products) { %> <% products.forEach(product => { %>
          <div class="grid-card">
            <div class="grid-overlay"></div>
            <img src="<%= product.imageurl %> " alt="<%= product.title %> " />
            <a href="/products/<%= product.slug %>" class="product-title"
              ><%= product.title%></a
            >
            <div class="info">
              <p>$ <%= product.price %></p>
              <p>Stock:<%= product.stock %></p>
            </div>
          </div>
          <% }) %> <% } %>
        </div>
      </section>
      <%- include('partials/footer') %>
    </div>
    <script src="/navbar.js"></script>
  </body>
</html>
